<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FoodOrb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link">Cart <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <select (change)="navigateTo($event)">
                <option selected value="none">Edureka</option>
                <option value="Order">Track Order</option>
                <option value="Profile">Profile</option>
                <option value="Settings">Settings</option>
                <option value="Login">Logout</option>
                </select>  
            </li>
          
        </ul>
        
      </div>
  </nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-center p-3">
            <!-- Search form -->
            <input class="form-control" type="text" placeholder="Search Food Items" aria-label="Search">
        </div>
    </div>

    <div class='row mt-5'>
        <div 
            appColor
            class="col-sm-12 col-md-6 col-lg-3" 
            *ngFor='let product of allFood'>
            <div class="card">              
                <img class="card-img-top"
                    [src]="product.foodImageUrl"
                    alt="image" width="200" height="180"/>
            
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="">{{ product.restaurantName }}</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="small text-muted">{{ product.foodDescription }} || Rating: {{product.foodRating}} || {{product.foodCost}} ₹</div><br>
                    </div>
                    <div class="mt-1 row d-flex flex-row justify-content-between">
                        <div class="small text-muted">
                           {{ product.foodName }}
                        </div>
                    </div>
                    <div class="mt-1 row d-flex flex-row justify-content-between">
                        <div class="small">
                            <button 
                                type='button' 
                                class="btn btn-primary btn-sm mt-2"
                                (click)='openItemModal(product)'>
                                Add to Cart
                            </button>&nbsp;
                            <button 
                                type='button' 
                                class="btn btn-primary btn-sm mt-2"
                                (click)='openItemModal(product)'>
                                Buy/Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blocker"></div>

<div class="itemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-weight:300;">Are you sure you want to add this item to cart?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="selectedFood" class="modal-body">
            <h5 class="modal-title" style="font-weight:300;">Add item to the cart?</h5>
            <h5 class="modal-title" style="font-weight:300;">Order Id:</h5>
            <h5 class="modal-title" style="font-weight:300;">{{selectedFood.foodName}} | {{selectedFood.foodCost | currency}}</h5>
            <h5 class="modal-title" style="font-weight:300;">Click on add to cart to proceed further</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeItemModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="addToCart(selectedFood)">Add Cart</button>
        </div>
      </div>
    </div>
  </div>
